body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #2C3E50;
    text-align: center;
    color: white;
}
nav a {
    margin: 20px;
    text-decoration: none;
    color: #ECF0F1;
    transition: color 0.3s;
}
nav a:hover {
    text-decoration: underline;
    color: #E74C3C;
}
.container {
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.header, .main, .footer {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact h2 {
    font-size: 2em;
    color: #444;
    margin-bottom: 20px;
    text-align: center;
}
.contact p {
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: center;
}
.contact .social-media {
    text-align: center;
    margin-top: 20px;
}
.social-media a {
    margin: 0 15px;
    display: inline-block;
    transition: transform 0.3s;
}
.social-media img {
    width: 50px;
    border-radius: 50%;
}
.social-media a:hover img {
    transform: scale(1.1);
}